.header-container {
    background-color: $color-secondary;
    color : white;
    grid-template-columns: 75% 25%;
    .hero{
        padding : 4em 8rem;
        background-image: linear-gradient(rgba(16,29,44,0.93), rgba(16,29,44,0.93)),url(../img/hero.jpeg);
        background-size: cover;
        background-position : center;
        height : 90vh;

        .seen-on-box{
            .g-c-3{
                grid-template-columns: 1fr auto 1fr;
                color : #aaa;
                .line{
                    background-color: #aaa;
                    height : 2px;
                    align-self: center;
                    width : 80%;
                    &:first-child{
                        justify-self: end;
                    }
                }
            }
        }
    }


    
}